html, body, #root, .App {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* prevent page scroll */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 60px;  /* same as navbar height */
  margin-bottom: 80px; /* same as footer height */
  overflow-y: auto; /* only main scrolls */
  padding: 1rem 2rem;
  box-sizing: border-box;
}
